// 1. Import the font from Google Fonts (Using Plus Jakarta Sans for that premium architectural look)
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

// 2. Set it as the default font for the entire Quasar app
$typography-font-family: 'Plus Jakarta Sans', sans-serif !default;

// 3. Your existing color palette
$primary   : #096231 
$secondary : #589f2a 
$accent    : #eec35e 
$dark      : #054e27 
$info      : #E1E5E0